<a href="https://colab.research.google.com/github/appletreeleaf/Coding_Test/blob/main/%5B%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4%5D_2xn_%ED%83%80%EC%9D%BC%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
def solution(n):
    answer = []
    # n=1 / 1
    # n=2 / 2
    # n=3 / 3
    # n=4 / 5
    if n < 3:
        return n

    for i in range(1,n+1):
        if i <= 2:
            answer.append(i)
        else:
            answer.append(answer[-1]+answer[-2])
            answer.popleft()

    return answer[-1] % 1000000007

In [21]:
n = 4
solution(n)

1 deque([1])
2 deque([1, 2])
3 deque([2, 3])
4 deque([3, 5])

5